@tailwind base;
@tailwind components;
@tailwind utilities;

/* Poppins Family */
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

html,
body {
  @apply w-full h-max Maghrib;
  padding: 0;
  margin: 0;
  font-family: -apple-system, Poppins, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.card {
  @apply lg:w-56;
  min-width: 225px;
  min-height: 150px;
}

.glass {
  @apply flex flex-col items-center justify-center flex-wrap gap-4 p-5 backdrop-blur-md;
  background: linear-gradient(
      324.78deg,
      rgba(255, 255, 255, 0) 1.95%,
      rgba(255, 255, 255, 0.31) 107.98%
    ),
    rgba(58, 58, 58, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.18);

  border-radius: 15px;
  color: white;
}

.glass:hover,
.glass:focus,
.glass:active {
  background: linear-gradient(188.99deg, #00ff842a, #00ff849f);
}

/* Background Image */

.MidnightToSubh {
  background: linear-gradient(180deg, #11181e 0%, #0c2841 100%);
}

.AfterSubh {
  background: linear-gradient(180deg, #11181e 0%, #154a7b 100%);
}

.Syurk {
  background: linear-gradient(
    #11181e 0%,
    #2b6499 53.58%,
    #80a4be 88.02%,
    #ffe9b1 100%
  );
}

.Dhuha {
  background: linear-gradient(180deg, #69b7ff 0%, #99cff4 58.85%, #fffbf1 100%);
}

.IntoDzuhur {
  background: linear-gradient(180deg, #6db9ff 0%, #bddfff 80.21%);
}

.DzuhurToAshar {
  background: linear-gradient(180deg, #5cb1ff 0%, #88c5fd 102.39%);
}

.AfterAshar {
  background: linear-gradient(180deg, #5ab0ff 0%, #c8e3fc 100%);
}

.IntoMaghrib {
  background: linear-gradient(180deg, #4597e2 0%, #fff8de 84.37%);
}

.BeforeMaghrib {
  background: linear-gradient(180deg, #276AA8 0%, #83B8E9 75%, #FFE6A7 100%);
}

.Maghrib {
  background: linear-gradient(180deg, #123C63 23.75%, #31689A 69.79%, #ABD7FF 85.94%, #FFE297 100%);
}

.AfterMaghrib {
  background: linear-gradient(180deg, #051728 0%, #123C63 72.92%, #3779B7 100%);
}

.IsyaToMidnight {
  background: linear-gradient(180deg, #091622 15.1%, #0B1F32 100%);
}

/* Weather Background */

.Sunny {
  background: linear-gradient(180deg, #f7b733 0%, #fc4a1a 100%);
}

.Cloudy {
  background: linear-gradient(180deg, #d7d2cc 0%, #304352 100%);
}

.Rainy {
  background: linear-gradient(180deg, #00c6fb 0%, #005bea 100%);
}

.Thunder {
  background: linear-gradient(180deg, #00ecbc 0%, #007adf 100%);
}

.Snowy {
  background: linear-gradient(180deg, #83a4d4 0%, #b6fbff 100%);
}

.Windy {
  background: linear-gradient(180deg, #acb6e5 0%, #86fde8 100%);
}

.Foggy {
  background: linear-gradient(180deg, #bdc3c7 0%, #2c3e50 100%);
}

