@tailwind base;
@tailwind components;
@tailwind utilities;

/* Poppins Family */

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

html,
body {
  @apply w-full h-full;
  padding: 0;
  margin: 0;
  font-family: -apple-system, Poppins, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 600;
  background: linear-gradient(
    #11181e 0%,
    #2b6499 53.58%,
    #80a4be 88.02%,
    #ffe9b1 100%
  );
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.card {
  @apply lg:w-56;
  min-width: 225px;
  min-height: 150px;
}

.glass {
  @apply flex flex-col items-center justify-center flex-wrap gap-4 p-5;
  background: linear-gradient(
      324.78deg,
      rgba(255, 255, 255, 0) 1.95%,
      rgba(255, 255, 255, 0.31) 107.98%
    ),
    rgba(58, 58, 58, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(21px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 15px;
  color: white;
}

.glass:hover,
.glass:focus,
.glass:active {
  background: linear-gradient(188.99deg, #00ff842a, #00ff849f);
}
